.navbar-brand-logo {
    width: 30%;
    height: 30%;
    opacity: 80%;
    border-radius: 50%;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.title {
    text-align: center; 
    margin: 5% 0 2% 0;
    font-size: 32px;
}

.carousel {
    align-content: center;
}

.d-block{
    max-width: 100%;
    max-height: 50px;
    min-width: 100%;
    min-height: 50px;
}

.inspiration {
    text-align: center;
    margin: 2% 20% 0 20%;
    
}

.section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;  
}

.card {
    margin: 5%;
}

.footer {
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343A40;
    color: white;
}